<!--

                                            FOOTER

-->

<footer class="row py-4">
    <div class="footband col-12">
        <div class="row justify-content-center flex-column">
            <a href="/host" class="m-0"><h1 class="titleFirstPart col-12">JEAN</h1></a>
            <a href="/host" class="m-0"><h1 class="titleSecPart col-12">FORTEROCHE</h1></a>
            <nav class="col-12">
                <div class="row">
                    <div class="col-12">
                        <a href="/host">ACCUEIL</a>
                        <a href="/blog">BLOG</a>
                        <a href="/billet/1">BILLET</a>
                        <a href="/contact">CONTACT</a>
                    </div>
                </div>
            </nav>
            <div class="footerLink col-12">
                <div class="row">
                    <div class="col-12">
                        <p>2020 Copyright ©</p>
                        <a href="/legal">Mentions légales</a>
                        <a href="/legal#cookies">Cookies</a>
                        <a href="/adminConnexion">Login</a>
                        <a href="/adminDashboard">Admin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Icon FontAwesome -->
<script src="https://kit.fontawesome.com/de7ae60c29.js"></script>
<!-- CDN => JS - JQUERY - BOOTSTRAP -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="/public/js/toast.js"></script>
<script src="/public/js/animations.js"></script>